{% extends "main/layout/base.html" %}

{% block content %}
    <!-- Navbar & Hero Start -->
    {% include 'main/navbar/navbar.html' %}
    <!-- Navbar End -->

    <!-- Header Start -->
    {% include 'main/navbar/header.html' %}
    <!-- Header End -->

    <!-- About Start -->
    {% include 'main/about/about.html' %}
    <!-- About End -->

    <!-- Team Start -->
    {% include 'main/about/team.html' %}
    <!-- Team End -->

    <!-- Feature Start -->
    {% include 'main/about/feature.html' %}
    <!-- Feature End -->
{% endblock %}