{% extends "main/layout/base.html" %}

{% block content %}
    <!-- Navbar & Hero Start -->
    {% include 'main/home/navbar.html' %}
    <!-- Navbar & Hero End -->

    <!-- Services Start -->
    {% include 'main/home/service.html' %}
    <!-- Services End -->

    <!-- About Start -->
    {% include 'main/home/about.html' %}
    <!-- About End -->

    <!-- Feature Start -->
    {% include 'main/home/feature.html' %}
    <!-- Feature End -->

    <!-- Book Appointment Start -->
    {% include 'main/home/appointment.html' %}
    <!-- Book Appointment End -->

    <!-- Team Start -->
    {% include 'main/home/team.html' %}
    <!-- Team End -->

    <!-- Testimonial Start -->
    {% include 'main/home/testimonial.html' %}
    <!-- Testimonial End -->

    <!-- Blog Start -->
    {% include 'main/home/blog.html' %}
    <!-- Blog End -->
{% endblock %}