{% load static %}
<div class="container-fluid blog py-5">
  <div class="container py-5">
    <div class="section-title mb-5 wow fadeInUp" data-wow-delay="0.1s">
      <div class="sub-style">
        <h4 class="sub-title px-3 mb-0">Our Blog</h4>
      </div>
    </div>

    <div class="row g-4 justify-content-center">
      {% for blog in blogs %}
      <div
        class="col-md-6 col-lg-6 col-xl-4 wow fadeInUp"
        data-wow-delay="0.1s"
      >
        <div class="blog-item rounded">
          <div class="blog-img">
            <img
              src="{{ blog.image.url }}"
              class="img-fluid w-100"
              alt="Image"
            />
          </div>

          <div class="blog-centent p-4">
            <div class="d-flex justify-content-between mb-4">
              <p class="mb-0 text-muted">
                <i class="fa fa-calendar-alt text-primary"></i> {{ blog.created_at }}
              </p>

              {% comment %} <a href="#" class="text-muted"
                ><span class="fa fa-comments text-primary"></span> 3 Comments</a
              > {% endcomment %}
            </div>

            <a href="#" class="h4">{{ blog.title }}</a>

            <p class="my-4">{{ blog.content }}</p>

            <a
              href="{% url 'blog-details' blog.pk %}"
              class="btn btn-primary rounded-pill text-white py-2 px-4 mb-1"
              >Read More</a
            >
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
