{% load static %}
<div class="container-fluid position-relative p-0">
  <nav
    class="navbar navbar-expand-lg navbar-light bg-white px-4 px-lg-5 py-3 py-lg-0"
  >
    <a href="{% url 'home' %}" class="navbar-brand p-0">
      {% comment %} <h1 class="text-primary m-0">
        <i class="fas fa-star-of-life me-3"></i>Hakhyzmat
      </h1> {% endcomment %}

      <img src="{% static 'main/img/logo_with_text.svg' %}" alt="Hakhyzmat" width="187" height="280" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
    >
      <span class="fa fa-bars"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
        <a href="{% url 'home' %}" class="nav-item nav-link active">Home</a>

        {% comment %} <a href="{% url 'about' %}" class="nav-item nav-link">About</a> {% endcomment %}

        <a href="{% url 'service' %}" class="nav-item nav-link">Services</a>

        <div class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
            >Pages</a
          >

          <div class="dropdown-menu m-0">

            <a href="{% url 'feature' %}" class="dropdown-item">Features</a>

            <a href="{% url 'blog' %}" class="dropdown-item">Our Blog</a>

            <a href="{% url 'team' %}" class="dropdown-item">Our Team</a>

            {% comment %} <a href="{% url 'testimonial' %}" class="dropdown-item"
              >Testimonial</a
            > {% endcomment %}
          </div>
        </div>

        <a href="{% url 'contactus' %}" class="nav-item nav-link">Contact Us</a>
      </div>
    </div>
  </nav>

  <!-- Carousel Start -->
  {% include 'main/layout/carousel.html' %}
  <!-- Carousel End -->
</div>
