{% extends 'main/layout/base.html' %}

{% block content %}
    <!-- Navbar & Hero Start -->
    {% include 'main/navbar/navbar.html' %}
    <!-- Navbar End -->

    <!-- Header Start -->
    {% include 'main/navbar/header.html' %}
    <!-- Header End -->

    <!-- Services Start -->
    {% include 'main/service/service.html' %}
    <!-- Services End -->

    <!-- Feature Start -->
    {% comment %} {% include 'main/service/feature.html' %} {% endcomment %}
    <!-- Feature End -->
{% endblock %}