<div class="container-fluid bg-dark px-5 d-none d-lg-block">
  <div class="row gx-0 align-items-center" style="height: 45px">
    <div class="col-lg-8 text-center text-lg-start mb-lg-0">
      <div class="d-flex flex-wrap">
        <a href="#" class="text-light me-4"
          ><i class="fas fa-map-marker-alt text-light me-2"></i>Find A
          Location</a
        >

        <a href="#" class="text-light me-4"
          ><i class="fas fa-phone-alt text-light me-2"></i>+993 63 714884</a
        >

        <a href="#" class="text-light me-0"
          ><i class="fas fa-envelope text-light me-2"></i>info@hakhyzmat.com</a
        >
      </div>
    </div>
  </div>
</div>
